@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    -webkit-touch-callout: none;
  }

  body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    background-color: #07090c;
  }

  /* Custom scrollbar if needed */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0f172a;
  }
  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 3px;
  }
}
